.slider-container {
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
}

.slider-image-container {
    width: 60%;
    position: relative;
}

.image1 {
    position: absolute;
    top: 0%;
    right: 50%;
    transform: translateX(50%);
    animation: imagemove1 4s infinite;
}

.image2 {
    position: absolute;
    top: 0%;
    left: 0%;
    animation: imagemove2 4s infinite;
}

.image3 {
    position: absolute;
    top: 0%;
    right: 0%;
    animation: imagemove3 4s infinite;
}

.slider-content {
    width: 40%;
    padding-right: 5%;
}

.css-1fzpoyk {
    opacity: unset !important;
}

/* 
@keyframes imagemove1 {
    0% {
        top: 0px;
        left: 0%;
        z-index: 4;
    }

    25% {
        top: 0px;
        left: -10%;
        transform: scale(0.8);
    }

    50% {
        top: 0px;
        left: 30%;
        transform: scale(0.8);
        opacity: 0.5;
    }

    100% {
        top: 0px;
        left: 15%;
        transform: scale(1);
        z-index: 2;
        opacity: 1;
    }
}

@keyframes imagemove2 {
    0% {
        top: 0px;
        left: 0%;
        transform: scale(0.8);
        opacity: 0.5;
    }

    25% {
        top: 0px;
        left: 30%;
        transform: scale(0.8);
        opacity: 0.5;
    }

    50% {
        top: 0px;
        right: 30%;
        transform: scale(1);
        z-index: 3;
        opacity: 1;
    }

    100% {
        top: 0px;
        left: 0%;
        transform: scale(0.8);
        opacity: 0.5;
    }
}

@keyframes imagemove3 {
    0% {
        transform: scale(0.8);
        opacity: 0.5;
    }

    25% {
        top: 0px;
        right: 30%;
        transform: scale(1);
        z-index: 4;
        opacity: 1;
    }

    50% {
        top: 0px;
        right: 50%;
        transform: scale(0.8);
        opacity: 0.5;
    }

    100% {
        top: 0px;
        right: 10%;
        transform: scale(0.8);
        opacity: 0.5;
    }
} */